[Unit]
Description=Python_Prometheus_Host_Stats
[Install]
WantedBy=multi-user.target
[Service]
User=XXXXXXXXXX
PermissionsStartOnly=true
ExecStart=/usr/bin/python3.5 /home/XXXXXXXXXX/Python_Prometheus_Host_Stats/Prometheus-Host-Stats.py
TimeoutSec=600
Restart=on-failure
RuntimeDirectoryMode=755
